# dask
# gensim
ipykernel
ipywidgets         # via jupyter
jupyter
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
jupyter-client    # via ipykernel, jupyter-console, notebook, qtconsole
jupyter-console    # via jupyter
jupyter-core     # via jupyter-client, nbconvert, nbformat, notebook, qtconsole
# nltk
# numpy
# pandas
# setuptools
# sklearn
# spacy
# sqlalchemy
# tensorflow
# xgboost